<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>Mcstas显卡计算平台</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>

    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-sm12 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">载入计算文件</div>
                        <div class="layui-card-body" style="min-height: 100px;">
                            <div id="main1" class="layui-col-sm12" style="height: 50px;"></div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">Instr文件参数修改</div>
                        <div class="layui-card-body" style="min-height: 180px;">
                            <div id="main2" class="layui-col-sm12" style="height: 200px;"></div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md6" style="margin-top:-80px;">
                    <div class="layui-card">
                        <div class="layui-card-header">通用计算参数</div>
                        <div class="layui-card-body" style="min-height: 180px;">
                            <div id="main3" class="layui-col-sm12" style="height: 100px;"></div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">显示控制台出输</div>
                        <div class="layui-card-body" style="min-height: 370px;">
                            <div id="main4" class="layui-col-sm12" style="height: 300px;"></div>

                        </div>
                    </div>
                </div>
				<div class="layui-col-sm12 layui-col-md6" style="margin-top:-260px;">
                    <div class="layui-card">
                        <div class="layui-card-header">指定输出文件夹</div>
                        <div class="layui-card-body" style="min-height: 280px;">
                            <div id="main4" class="layui-col-sm12" style="height: 300px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
      
    </body>
</html>